{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Sunshine Galaxy College
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <h1>Sunshine Galaxy College</h1>

        <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'course_list' %}">Courses</a>
    <a href="{% url 'fees' %}">Fees</a>
    <a href="{% url 'principal_message' %}">
        Principal's Message
    </a>
    <a href="{% url 'syllabus' %}">Syllabus</a>
    <a href="{% url 'notice_list' %}">Notices</a>
    <a href="{% url 'admission' %}">Admission</a>
    <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Sunshine Galaxy College</p>
    </footer>

</body>
</html>
