<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Sunshine Galaxy College
        {% endblock %}
    </title>
</head>

<body>

    <header>
        <h1>Sunshine Galaxy College</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/notices/">Notices</a>
            <a href="/admin/">Admin</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Sunshine Galaxy College</p>
    </footer>

</body>
</html>