{% extends "base.html" %}

{% block title %}
Events | Sunshine Galaxy College
{% endblock %}

{% block content %}

<h1>College Events</h1>

{% for event in events %}

    <div class="course-card">

    <h2>{{ event.title }}</h2>

    {% if event.image %}
        <img
            src="{{ event.image.url }}"
            alt="{{ event.title }}"
            class="event-image"
        >
    {% endif %}

    <p>
        <strong>Date:</strong>
        {{ event.date }}
    </p>

    <p>
        <strong>Time:</strong>
        {{ event.time }}
    </p>

    <p>
        <strong>Venue:</strong>
        {{ event.venue }}
    </p>

    <p>{{ event.description }}</p>

</div>
{% empty %}

    <p>No upcoming events available.</p>

{% endfor %}

{% endblock %}